.cart-container {
  padding: 30px;
  /* background-color: red; */
}

.cart-table {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.cart-table th,
.cart-table td {
  /* background-color: red; */
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.cart-table th {
  background-color: #2c3e50;
  color: white;
}

.cart-item-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.delete-btn {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #e74c3c;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #2980b9; */
  gap: 10px;
}

.quantity-btn {
  padding: 5px 10px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.quantity-btn:hover {
  background-color: #2980b9;
}

.delete-btn {
  padding: 5px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn:hover {
  background-color: #c0392b;
}
.buy-button{
  padding: 5px 10px;
  background-color: #166128;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}


.buy{
  margin-top: 20px;
  text-align: right;
}


.success-message {
  background-color: #d4edda; /* Light green background */
  color: #155724; /* Dark green text */
  border: 1px solid #c3e6cb; /* Border color */
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px; /* Rounded corners */
  text-align: center;
  font-weight: bold;
}

.stock-warning {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

.total-price{
  margin-left: 10px;
}