* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-list {
    padding: 20px;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
}

.product-list h2 {
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
}

.add-product-btn {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
    transition: background-color 0.3s;
}

.add-product-btn:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #2c3e50;
    color: white;
}

table img {
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}
