
.merchant-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-top: 10px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    color: #333;
    font-weight: bold;
}


.order-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.order-card:hover {
    transform: scale(1.02);
}


.order-details {
    display: flex;
    width: 100%;
    gap: 15px;
}

.order-info {
    flex: 1;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.order-info h3,
.order-info p {
    margin-bottom: 8px; 
}

.order-info h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0; 
}

.order-info p {
    font-size: 14px;
    color: #555;
    margin: 0; 
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.product-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fefefe;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}

.product-card:hover {
    transform: scale(1.01);
}

.product-image {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-infoo {
    padding-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    justify-content: left;
    align-items: flex-start;
}


.delivered-status {
    color: #28a745;
    font-weight: bold;
}

.pending-status {
    color: #ffc107;
    font-weight: bold;
}

.price {
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.product-infoo h4 {
    font-size: 18px;
    color: #333;
    margin: 0px 0px 7px;
}

.product-infoo p {
    
    color: #555;
    font-size: 14px;
}

.description {
    color: #777;
    font-size: 14px;
    line-height: 1.4;
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.pending-buttonn,
.delivered-buttonn {
    padding: 8px 12px; 
    width: auto; 
    min-width: 120px; 
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center; 
    display: block;
}
.pending-buttonn {
    background-color: #ffc107;
    color: #fff;
}

.delivered-buttonn {
    background-color: #28a745;
    color: #fff;
}

.pending-buttonn:hover {
    background-color: #efb918;
}

.delivered-buttonn:hover {
    background-color: #218838;
}

.pending-buttonn:disabled,
.delivered-buttonn:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}
