 

.product {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));  
    gap: 30px;  
    margin: 50px 30px;
    justify-content: center;  
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  
    }
}

@media (max-width: 500px) {
    .product-list {
        grid-template-columns: 1fr;  
    }
}
