/* ProductList.css */

.product {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Adjust min size to match card width */
    gap: 30px; /* Adjust the gap between the cards */
    margin: 50px 30px;
    justify-content: center; /* Ensure the grid is centered */
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust for smaller screens */
    }
}

@media (max-width: 500px) {
    .product-list {
        grid-template-columns: 1fr; /* Single column on very small screens */
    }
}
