.banner-search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 15px auto;
  width: 100%;
  max-width: 600px;
  background-color: #f4f8ff; /* Light background color */
  border-radius: 30px;
  border: none;
  padding: 8px 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.banner-search-icon {
  font-size: 20px;
  color: #8e8e93; /* Light gray color for the icon */
  margin-right: 10px;
}

.banner-search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent; /* Transparent to show container background */
  color: #4a4a4a; /* Darker gray text */
}

.banner-suggestions-list {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.banner-suggestion-item {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0; 
  color: #4a4a4a; 
}

.banner-suggestion-item:hover {
  background-color: #f4f8ff; 
}

.banner-suggestion-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px; 
}
