* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.nav-bar {
  padding: 1rem 2rem; /* Increased padding for a larger navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  z-index: 1;
  transition: box-shadow 0.3s;
  height: 80px; /* Increased height for a larger navbar */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 25px; /* Increased margin for spacing between items */
}

nav ul li a {
  color: #0056b3; 
  text-decoration: none;
  font-size: 1.1rem; /* Increased font size for links */
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
  border-radius: 5px;
  padding: 14px 24px; /* Increased padding for buttons */
}

nav ul li a:hover {
  color: #003366; 
  transform: scale(1.05); 
}

nav ul li a.active {
  color: #003366; 
}

.left {
  margin-right: auto;
}

.right {
  display: flex;
  gap: 30px; /* Increased gap for spacing between items */
}

nav ul li a i {
  margin-right: 10px; /* Increased margin for icons */
  font-size: 1.5rem; /* Increased icon size */
}

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    padding: 1rem;
    height: auto; /* Remove fixed height for mobile */
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  nav ul li {
    margin: 12px 0; /* Increased margin for mobile */
    width: 100%;
    text-align: center;
  }

  .right {
    margin-top: 1rem;
  }
}
